<%- include ("partials/header.ejs") %>
<%- include ("partials/navbar.ejs") %>
 
 
 
 
<!DOCTYPE html>
<html>
 
  <head>
    <title>Results</title>
    <meta charset="utf-8" />
 
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

    <!--To style search bar and submit button-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
 
 
  <body>
 
    <div id=searchBar>
      <form class="search_bar" action="/search_results" method="POST">
        <label for="search"></label>
        <input type="text" placeholder="Search.." id="search" name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form> 
    </div>
  
    
    <p1 style="text-align: center;" id="p1" value=<%=search_term%>> Files We Found Containing : "<%=search_term%>"</p1>
 
    <!--Add buttons to initiate auth sequence and sign out-->
    <button id="authorize_button" style="display: none;">Authorize</button>
    <button id="signout_button" style="display: none;">Sign Out</button>
 
 
    <!--File Results displayed here-->
    
  <a style="align-content:left !important; " id="content">  </a>
   
 
  <A HREF="https://cglab.ca/~morin/teaching/2405/notes/javascript1.pdf#page=4"> TEST LINK OPENS TO PAGE 4</A>
 
    
    
    
    
    
    <script type="text/javascript">
      // Client ID and API key from the Developer Console
      var CLIENT_ID = '400753858523-t9tqo0rfmta16btr8cc2bt8c76mfukfh.apps.googleusercontent.com';
      var API_KEY = 'AIzaSyDLOA3h35cmJ5y7qUdLxilt4Opj1NmIPyc';
 
      // Array of API discovery doc URLs for APIs used by the quickstart
      var DISCOVERY_DOCS = ["https://www.googleapis.com/discovery/v1/apis/drive/v3/rest"];
 
      // Authorization scopes required by the API; multiple scopes can be
      // included, separated by spaces.
      var SCOPES = 'https://www.googleapis.com/auth/drive.metadata.readonly';
 
      var authorizeButton = document.getElementById('authorize_button');
      var signoutButton = document.getElementById('signout_button');
 
      var files;
 
      /**
       *  On load, called to load the auth2 library and API client library.
       */
      function handleClientLoad() {
        gapi.load('client:auth2', initClient);
      }
 
      /**
       *  Initializes the API client library and sets up sign-in state
       *  listeners.
       */
      function initClient() {
        gapi.client.init({
          apiKey: API_KEY,
          clientId: CLIENT_ID,
          discoveryDocs: DISCOVERY_DOCS,
          scope: SCOPES
        }).then(function () {
          // Listen for sign-in state changes.
          gapi.auth2.getAuthInstance().isSignedIn.listen(updateSigninStatus);
 
          // Handle the initial sign-in state.
          updateSigninStatus(gapi.auth2.getAuthInstance().isSignedIn.get());
          authorizeButton.onclick = handleAuthClick;
          signoutButton.onclick = handleSignoutClick;
        }, function(error) {
          appendPre(JSON.stringify(error, null, 2));
        });
      }
 
      /**
       *  Called when the signed in status changes, to update the UI
       *  appropriately. After a sign-in, the API is called.
       */
      function updateSigninStatus(isSignedIn) {
        if (isSignedIn) {
          authorizeButton.style.display = 'none';
          signoutButton.style.display = 'block';
          listFiles();
        } else {
          authorizeButton.style.display = 'block';
          signoutButton.style.display = 'none';
        }
      }
 
      /**
       *  Sign in the user upon button click.
       */
      function handleAuthClick(event) {
        gapi.auth2.getAuthInstance().signIn();
      }
 
      /**
       *  Sign out the user upon button click.
       */
      function handleSignoutClick(event) {
        gapi.auth2.getAuthInstance().signOut();
      }
      
 
      /**
       * Append a pre element to the body containing the given message
       * as its text node. Used to display the results of the API call.
       *
       * @param {string} message Text to be placed in pre element.
       */
      function appendPre(message) {
        var pre = document.getElementById('content');
        var textContent = document.createTextNode(message + '\n');
        pre.appendChild(textContent);
        
      }
 
      /**
       * Print files.
       */
      function listFiles() {
        const t = document.getElementById('p1');
        const terms = t.getAttribute('value');
        gapi.client.drive.files.list({
          q: "fullText Contains '"+terms+"'",
          'pageSize': 10,
          'fields': "nextPageToken, files(id, name, description)"
        }).then(function(response) {
          appendPre('');
          files = response.result.files;
          if (files && files.length > 0) {
            for (var i = 0; i < files.length; i++) {
              var file = files[i];
              var fileName = file.name;
              var fileDescription = file.description; 
              console.log("file name: " + fileName);
              
              //file description currently undefined, WHY?
              console.log("file description: " + fileDescription);
              
              var linkUrl= createUrl(file.id, fileName);
              var fullResult = fileName + linkUrl;
              const pre = document.querySelector('#content');
              
              
              
              pre.append(linkUrl);
              
              //pre.append("Description: " + file.description);
              
          
              
              
              }
          } else {
            appendPre('No files found.');
          }
        });
      }
 
 
      function createUrl(id,fileName) {
 
        //  need to add page number ex: #page=10
        const aTag = document.createElement('a');
        const url = `https://drive.google.com/file/d/${id}/view?usp=sharing"`;
        //const url = `https://drive.google.com/uc?export=view&id=${id}`;
 
        aTag.className = "contentLinks";
        aTag.style = "white-space: pre-wrap;";
 
        //changes link to filename instead of actual URL
        aTag.textContent = fileName;
        
        aTag.href = url;
        aTag.append("\n\n");
        
      return aTag;
 
 
}
 

function changeBackground(color) {
   document.body.style.background = color;
}

window.addEventListener("load",function() { changeBackground('white') });
 
    </script>
 
    <script async defer src="https://apis.google.com/js/api.js"
      onload="this.onload=function(){};handleClientLoad()"
      onreadystatechange="if (this.readyState === 'complete') this.onload()">
    </script>
  </body>
</html>
 
 
<%- include ("partials/footer.ejs") %>